connector.name=ethereum

# You can connect through Ethereum HTTP JSON RPC endpoint
# IMPORTANT - for local testing start geth with rpcport
# geth --rpc --rpcaddr "127.0.0.1" --rpcport "8545"
# ethereum.jsonrpc=http://localhost:8545/


# Or you can connect through IPC socket
ethereum.ipc=/path/to/ipc_socketfile

# Or you can connect to Infura
# ethereum.infura=https://mainnet.infura.io/<your_token>
